body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

input[type="text"], input[type="number"], input[type="time"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#vagas, #trocoResultado {
    margin: 20px 0;
}
